@-moz-document domain(tbank.ru),
domain(sima-land.ru),
domain(gipermarketdom.ru) {
    body,
    html {
        background: #FFFFFF !important;
    }
}

@-moz-document domain(talk.sima-land.ru) {
    body,
    html,
    #largeVideoContainer,
    .css-2e5bca-withI18nextTranslation_Tae_-containerBackground {
        background: transparent !important;
    }
}

@-moz-document domain(gitlab.sima-land.ru) {
    body,
    html,
    .astronav-items,
    .gl-dark .merge-request-tabs-holder,
    .right-sidebar:not(.right-sidebar-merge-requests),
    .gl-bg-gray-50,
    .system-note-commit-list::after,
    .common-note-form .md-area-wrapper {
        background: transparent !important;
    }
    body {
        color: #ccc;
    }
    .right-sidebar:not(.right-sidebar-merge-requests) {
        border: none !important;
    }
    .diff-file-row.is-active {
        background-color: #28272d00;
        color: #0cc;
    }
}

@-moz-document domain(hd.kinopoisk.ru) {
    * {
        color: #ddd !important;
    }
    body,
    html,
    .styles_body__XTb_o,
    .Footer_root__yxLAr {
        background: transparent !important;
    }
}

@-moz-document domain(kinopoisk.ru) {
    body,
    html,
    #m6rbr47ajum71h,
    .styles_root__vsmL9:not(.styles_wideRoot__JrXG9),
    .styles_ussiy59bm827q8h5k__bi2n2,
    .styles_wideContentContainer__lu_K3,
    .styles_rootLight___QD_Q,
    .styles_root___ruvh,
    .styles_vb1fnguwg75mmcs2a__bi2n2,
    .styles_foy254pnmfxvhgahr__bi2n2,
    .styles_m1nmncyswy22z100d__bi2n2,
    .styles_ggkblvyp7hw04aoa1__bi2n2,
    .styles_wideContentContainer__lu_K3,
    .styles_baseContainer__8XBMw {
        background: transparent !important;
    }

    * {
        color: #ddd !important;
    }
    /*#popover-root,*/
    /*#popover-root > * {*/
    /*    color: #222 !important;*/
    /*}*/
}

@-moz-document domain(web.whatsapp.com) {
    body,
    html,
    .two,
    ._ajx_,
    .xnpuxes,
    .x1acz5yr,
    .xsknx04,
    .x150wa6m,
    .x1setqd9::after,
    _ak72,
    ._ak9y,
    ._ak72,
    ._ai01,
    .x1ky8ojb,
    ._ak9t {
        background: transparent !important;
    }

    ._ak72._ak7p {
        background-color: var(--background-default-active) !important;
    }

    .x114d0zl {
        background-color: rgba(17, 27, 33, 0.59);
        backdrop-filter: grayscale(10);
    }
}

@-moz-document domain(vk.com) {
    body,
    html,
    .ProfileWrapper__root.vkui__root,
    #page_header_cont,
    #page_header,
    .PanelRounded-panel-o6by8b,
    .ConvoMain,
    .ConvoMain__rightPanelContainer,
    .ConvoHeader,
    .ConvoList,
    .ConvoList__item,
    .ConvoList__folders,
    .ConvoList__headerContent,
    .ConvoList__footer,
    :is(.VKCOMMessenger__integrationRoot .MEAppConfig, .VKCOMMessenger__integrationRoot.MEAppConfig).MEAppConfig__withoutBubbles.MEAppConfig__withoutBubbles {
        background-color: transparent !important;
    }

    #page_header_cont {
        border: none !important;
    }

    .FCPanel {
        display: none;
    }

    .MEApp__content {
        margin-left: 20px;
    }

    .side_bar_inner {
        margin-top: 42px !important;
        position: fixed !important;
        padding: 15px 10px 10px !important;
        margin-left: -5px !important;
        top: 0;
    }
}


@-moz-document domain(twitch.tv) {
    body, html,
    .ceLdPR,
    .jqCeVt,
    .home-header-sticky,
    .home-header-sticky__inner,
    .home-header-sticky__wrapper,
    .channel-root__info .channel-info-content,
    .channel-root--home {
        background-color: transparent !important;
    }
}

@-moz-document domain(telemost.yandex.ru) {
    body, html {
        background-color: transparent !important;
    }
}


@-moz-document domain(open.spotify.com) {
    body,
    html,
    .ZQftYELq0aOsg6tPbVbV,
    .wp7mZFPzV7Qmo51F0NA_,
    .hgJel0bLlS_1Uf0EIfSA,
    .lHJd4oSttKLxkxuoZ0Lr,
    .BdcvqBAid96FaHAmPYw_,
    .jEMA2gVoLgPQqAFrPhFw,
    .PkOz5g82CaoKk1J3GX0e,
    .ffFwfKcPDbmAPLXzxzKq,
    .Ai_McRq9wJEYK21w8nX_,
    .PeLrpasyfBW8ql_bmoAi,
    .ffFwfKcPDbmAPLXzxzKq::before,
    .aaFQbW0j0N40v_siz0kX::before,
    .EmeHQXR87mUskYK6xEde,
    .main-view-container__mh-footer-container,
    .esBjsh,
    .jW4eWdr_LUeOXwPpKhWG,
    .fEvxx8vl3zTNWsuC8lpx,
    .rezqw3Q4OEPB1m4rmwfw,
    .T1xI1RTSFU7Wu94UuvE6 {
        background: transparent !important;
    }
}


@-moz-document domain(zen-browser.app) {
    body,
    html {
        background: transparent !important;
    }
    .astronav-items {
        background: transparent !important;
    }
}

@-moz-document domain(reddit.com) {
    body,
    html {
        background: transparent !important;
    }
    #comment-tree {
        background: transparent !important;
    }
    .bg-neutral-background,
    .bg-neutral-background-weak {
        background: rgba(0, 0, 0, 0.1) !important;
    }
    .bg-\[color\:var\(--shreddit-content-background\)\] {
        background-color: transparent !important;
    }
    .threadline,
    .shreddit-post,
    aside,
    comment-body-header,
    shreddit-comment-tree {
        background-color: transparent !important;
    }
}

@-moz-document domain(chatgpt.com) {
    body, html,
    .bg-token-main-surface-primary, /* Navbar */
    .bg-token-sidebar-surface-primary, /* Sidebar */
    .bg-token-sidebar-surface-primary * /* All sidebar elements */
    {
        background: transparent !important;
    }
}

@-moz-document domain(github.com) {
    body,
    html,
    header,
    #repository-container-header,
    .gh-header,
    .bgColor-muted,
    section,
    .feed-background,
    .color-bg-default,
    .dxnHPp {
        background-color: transparent !important;
    }

    .feed-item-content,
    .discussion-timeline-actions {
        background-color: rgba(0, 0, 0, 0.1) !important;
    }
}

@-moz-document domain(mail.google.com) {
    body,
    html,
    .aAX,
    .wl,
    #loading,
    .la-i > .la-m,
    .bkK > .nH {
        background: transparent !important;
    }
}

@-moz-document domain(google.com) {
    .sfbg {
        background-color: rgba(255, 255, 255, 0.1) !important;
        backdrop-filter: blur(20px);
    }
    body,
    html,
    .f6F9Be,
    div#search > * {
        background-color: transparent !important;
    }
    .g,
    .appbar {
        background-color: transparent !important;
    }
    div#rso {
        * {
            background-color: transparent !important;
        }
    }
    div#cnt > div {
    }
    #gb {
        background-color: transparent !important;
    }
    .RNNXgb.RNNXgb {
        background-color: rgb(179, 200, 207, 0.4) !important;
    }
}

@-moz-document domain(youtube.com) {
    html[dark], #background {
        background: var(--content-bg) !important;
    }
    #guide-inner-content {
        scrollbar-width: none !important;
    }
    :root {
        --yt-spec-base-background: var(--stacking-bg) !important;
        --app-drawer-content-container-background-color: var(--stacking-bg) !important;
        --dark-theme-background-color: var(--stacking-bg) !important;
        --efyt-control-bar-background-color: var(--stacking-bg) !important;
        --efyt-control-bar-tooltip-background-color: var(--stacking-bg) !important;
        --paper-dialog-background-color: var(--stacking-bg) !important;
        --paper-listbox-background-color: var(--stacking-bg) !important;
        --paper-menu-background-color: var(--stacking-bg) !important;
        --yt-live-chat-action-panel-background-color-transparent: var(--stacking-bg) !important;
        --yt-live-chat-additional-inline-action-button-background-color: var(--stacking-bg) !important;
        --yt-live-chat-additional-inline-action-button-background-color-hover: var(--stacking-bg) !important;
        --yt-live-chat-additive-background-inverse: var(--stacking-bg) !important;
        --yt-live-chat-author-chip-verified-background-color: var(--stacking-bg) !important;
        --yt-live-chat-automod-button-background-color: var(--stacking-bg) !important;
        --yt-live-chat-automod-button-background-color-hover: var(--stacking-bg) !important;
        --yt-live-chat-background-color: var(--stacking-bg) !important;;
        --yt-live-chat-button-dark-background-color: var(--stacking-bg) !important;
        --yt-live-chat-button-default-background-color: var(--stacking-bg) !important;
        --yt-live-chat-dialog-background-color: var(--stacking-bg) !important;
    }
    #chips-wrapper {
        background-color: rgba(0, 0, 0, 0.2) !important;
        border-radius: 10px !important;
        backdrop-filter: blur(10px) !important;
    }
    .html5-video-player:not(.efyt-black-bars),
    .html5-video-player.unstarted-mode:not(.efyt-black-bars),
    ytd-watch-flexy[full-bleed-player] #full-bleed-container.ytd-watch-flexy {
        background: transparent !important;
    }
    .ytd-watch-flexy[flexy] #player-container-inner.ytd-watch-flexy {
        padding-top: 0;
    }
    #shorts-cinematic-container canvas,
    #cinematics canvas {
        display: none !important;
    }
}


@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing), url(chrome://browser/content/browser.xul) {
    body {
        width: 100%;
        height: 100vh;
        position: relative !important;
        overflow: hidden !important;
    }

    body::before {
        content: "";
        position: absolute;
        height: 130vh;
        width: auto;
        aspect-ratio: 1/1 !important;
        transform: translate(-50%, -50%);
        top: 100%;
        left: 100%;
        background-color: #ffffff; /* Color fill */
        mask-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:%23FFFFFF;}</style><path class="st0" d="M16,22.2c3.4,0,6.2-2.8,6.2-6.2c0-3.4-2.8-6.2-6.2-6.2c-3.4,0-6.2,2.8-6.2,6.2C9.8,19.4,12.6,22.2,16,22.2z M20.9,16c0,2.7-2.2,4.9-4.9,4.9s-4.9-2.2-4.9-4.9s2.2-4.9,4.9-4.9S20.9,13.3,20.9,16z"/><path class="st0" d="M26.7,16c0,5.9-4.8,10.7-10.7,10.7S5.3,21.9,5.3,16S10.1,5.3,16,5.3S26.7,10.1,26.7,16z M16,24.6c4.8,0,8.6-3.9,8.6-8.6S20.8,7.4,16,7.4S7.4,11.2,7.4,16S11.2,24.6,16,24.6z"/><path class="st0" d="M32,16c0,8.8-7.2,16-16,16S0,24.8,0,16S7.2,0,16,0S32,7.2,32,16z M16,29.1c7.3,0,13.1-5.9,13.1-13.1S23.3,2.9,16,2.9S2.9,8.7,2.9,16S8.7,29.1,16,29.1z"/></svg>');
        mask-repeat: no-repeat;
        mask-position: center;
        opacity: 5% !important;
    }
}

@-moz-document url(about:home), url(about:newtab) {
    :root {
        --newtab-background-color: rgba(43, 42, 51, 0.0) !important;
    }

    .search-wrapper {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50% !important;
        left: 50% !important;
        display: flex;
        flex-direction: column;
    }

    .logo {
        aspect-ratio: 1/1 !important;

        background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="utf-8"%3F><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve"><style type="text/css">.st0{fill-rule:evenodd;clip-rule:evenodd;fill:%237493f1; opacity:90%}</style><path class="st0" d="M16,22.2c3.4,0,6.2-2.8,6.2-6.2c0-3.4-2.8-6.2-6.2-6.2c-3.4,0-6.2,2.8-6.2,6.2C9.8,19.4,12.6,22.2,16,22.2z M20.9,16c0,2.7-2.2,4.9-4.9,4.9s-4.9-2.2-4.9-4.9s2.2-4.9,4.9-4.9S20.9,13.3,20.9,16z"/><path class="st0" d="M26.7,16c0,5.9-4.8,10.7-10.7,10.7S5.3,21.9,5.3,16S10.1,5.3,16,5.3S26.7,10.1,26.7,16z M16,24.6c4.8,0,8.6-3.9,8.6-8.6S20.8,7.4,16,7.4S7.4,11.2,7.4,16S11.2,24.6,16,24.6z"/><path class="st0" d="M32,16c0,8.8-7.2,16-16,16S0,24.8,0,16S7.2,0,16,0S32,7.2,32,16z M16,29.1c7.3,0,13.1-5.9,13.1-13.1S23.3,2.9,16,2.9S2.9,8.7,2.9,16S8.7,29.1,16,29.1z"/></svg>') !important;

        background-position: center;
        background-size: 80px !important;
        width: fit-content !important;
        height: 80px !important;
    }

    .wordmark {
        opacity: 80%;
        background-size: 172px !important;
        width: 172px !important;
        height: 81px !important;
    }

    .search-handoff-button {
        display: flex !important;
        align-items: center !important;
        justify-content: space-evenly;
        background-color: rgba(128, 128, 128, 0.2) !important;
        backdrop-filter: blur(20px) !important;
    }

    .search-inner-wrapper .fake-editable {
        opacity: 10% !important;
        border: 1px solid white !important;
    }

    .search-inner-wrapper {
        background-color: transparent !important;
        backdrop-filter: blur(10px) !important;
        display: none !important;
    }
    .search-wrapper .search-inner-wrapper {
        border-radius: 10px !important;
    }

    .logo-and-wordmark {
        margin-block-end: 14px !important;
    }
}

@-moz-document domain(monkeytype.com) {
    body {
        background: rgba(0, 0, 0, 0.3) !important;
    }
}

@-moz-document domain(discord.com) {
    :root {
        .layer_cd0de5 :is([role="dialog"], .streamPreview_adbea6) {
            background: hsl(var(--primary-700-hsl)) !important;
        }

        --primary-560: rgba(0, 0, 0, 0.05) !important;
        --primary-600: rgba(0, 0, 0, 0.05) !important;
        --primary-630: rgba(0, 0, 0, 0.05) !important;
        --primary-645: rgba(0, 0, 0, 0.05) !important;
        --primary-660: rgba(0, 0, 0, 0.05) !important;
        --primary-700: rgba(0, 0, 0, 0.05) !important;
        --primary-730: rgba(0, 0, 0, 0.05) !important;
        --primary-760: rgba(0, 0, 0, 0.05) !important;
        --primary-830: rgba(0, 0, 0, 0.05) !important;
        --primary-860: rgba(0, 0, 0, 0.05) !important;
        --primary-900: rgba(0, 0, 0, 0.05) !important;
    }

    [class^="focusLock_"] {
        --saturation-factor: 1;
        --primary-600: hsl(var(--primary-600-hsl) / 1) !important;
        --primary-600-hsl: 222.857 calc(var(--saturation-factor, 1) * 6.667%) 20.588% !important;
        --modal-background: var(--primary-600);
    }

    .no-webkit-scrollbar * {
        scrollbar-width: none !important;
    }
}


@-moz-document domain(xn--e1ajbkccewgd.xn--p1ai) {
    html,
    .Game_root__Iny3M {
        background: transparent !important;
    }
}

/* ==== PDF viewer tweaks ====  entierly from natsumi*/

@keyframes pdfjs-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes secondary-appear {
    0% {
        opacity: 0;
        margin-top: -10px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

@keyframes properties-appear {
    0% {
        opacity: 0;
        top: 50px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

* {
    /* Colors */
    --natsumi-primary-color: var(--natsumi-pages-accent-color, #aac7ff);
    --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
    --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-colors-primary) 20%, white 80%);
    --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 2%, white 98%);
    --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

    @media (prefers-color-scheme: dark) {
        --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 20%, #202020 80%);
        --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 30%, #202020 70%);
        --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 1%, #202020 99%);
        --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

        @media (-moz-bool-pref: 'zen.theme.color-prefs.colorful') {
            --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
            --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 40%, black 60%);
            --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 15%, black 85%);
            --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);
        }
    }

    /* Glass effect */
    --natsumi-glass-background: color-mix(in srgb, var(--natsumi-colors-secondary) 75%, transparent);
    --natsumi-glass-blur-radius: var(--glass-blur-radius, 10px);
    --natsumi-glass-shadow-size: var(--glass-shadow-size, 10px);
    --natsumi-glass-shadow-opacity: var(--glass-shadow-opacity, 75%);

    /* pdf.js */
    --natsumi-pdfjs-topbar-max-width: var(--pdfjs-topbar-max-width, 750px);
}

