* {
  font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
}

#waybar {
  background: rgba(34, 34, 34, 1);
  color: #fff;
  /*border: 1px solid #00cccc;*/
  border-top: 1px solid #00cccc;
  border-bottom: 1px solid #00cccc;
  /*border-radius: 10px;*/
}

#pulseaudio,
#backlight,
#battery,
#network,
#cpu {
    min-width: 50px;
}

#cpu.good {
    /*color: #00cc00;*/
    color: #ffffff;
}
#cpu.warning {
    background: none;
    border: none;
    /*color: #ffff00;*/
    color: #ffffff;
}
#cpu.critical {
    /*color: #ff0000;*/
    color: #ffffff;
}

#battery {
    color: #ffffff;
    background: none;
}

#battery.charging, #battery.plugged {
    /* color: #26A65B; */
}


@keyframes blink {
    to {
        color: #ffffff;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#battery.good.charging {
    color: #00cc00;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#clock {
  font-family: LED;
  font-size: 20px;
  margin-right: 15px;
  color: #fff;
}

#tray {
  padding-left: 10px;
}

#workspaces {
  /*margin-left: 7px;*/
}

#workspaces button:hover {
  background-color: transparent;
}

#workspaces button {
  color: #cccccc;
}

#workspaces button:hover {
    padding: 7px 7px;
    color: #00cccc;
    background: none;
    border: none;
}

#workspaces button.active {
  color: #00cccc;
}

#workspaces button.urgent {
    color: #ff6666;
}

#window {
  margin-left: 15px;
  color: #fff;
}

#network {
  color: #75f1a8;
  margin: 0 8px;
}

#pulseaudio {
  color: #83efe3;
  margin: 0 8px;
}

#cpu {
  color: #0ea5e9;
  margin-right: 4px;
}

#temperature {
  color: #eab308;
  margin-right: 4px;
}

#memory {
  color: #d946ef;
  margin-right: 4px;
}

#custom-powermenu {
  color: #f43f5e;
}

#language {
  margin: 0 10px;
}


tooltip {
    background: rgba(34, 34, 34, .7);
    color: #A1BDCE;
    font-size: 13px;
    border-radius: 7px;
    border: 2px solid #101a24;
}